body{
    display:flex; 
    flex-direction:row; 
    justify-content:center;
}
.outer-container{
    border: 10px solid black;
    padding: 50px;
}
.heading{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin-top: -20px;
}

#radio-container{
    text-align: center;
}
.center{
    text-align: center;
}

.radioButton{
    width: 30px;
    height: 30px;
}
.button{
    margin-left: -3px;
    width: 103px;
}
.message{
    margin-left: -3px;
    width: 294px;
}

.score-time{
    width: 50px;
}

.time-line{
    display: inline-flex;
}

.left{
    margin-left: 30px;
}